#centre_wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slot {
	background-color: #d3d3d3;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid #ADD8E6;
}

button:hover .arrow-down {
	border-top: 40px solid blue;
}


.columnSelector {
	background-color: transparent;
	border: none;
}

#reset {
	padding: 20px;
	border-radius: 25px;
	background-color: #5d8aa8;
}

.overlay {
	background-color: rgba(0,0,0, 0.3);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
}

.overlay .overlaybtns {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gameChoiceBtns {
	padding: 20px;
	border-radius: 25px;
	background-color: #FFA500;
}